/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    background-color: #A8BFBF;
    font-size: 14px;
}

a{
    color: #8C6B64;
}

a:visited{
    color: #592E25;
}

#wrapper{
    min-width: 350px;
    max-width: 880px;
    margin: 30px auto 0;
    background-color: #F2F1EB;
    box-shadow: 1px 0px 10px black;
    padding-bottom: 30px;
    overflow: hidden;
}

#header{
    margin-bottom: 20px;
}

#logo{
    float: left;
    margin: 15px;
}

#title, #tagline{
    margin: 0;
    margin-left: 90px;
    padding-top: 5px;
    display: block;
    line-height: 1em;    
}

#title{
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2em;
    padding-top: 20px;
}

#tagline{
    font-size: 1.7em;
}

.theme-light.slider-wrapper{
    padding: 0;
    background-color: transparent;
}

.theme-light.slider-wrapper .nivo-controlNav{
    padding: 0 30px;
}

.nivo-directionNav a.nivo-prevNav{
    right: 55px;
}

.nivo-directionNav a.nivo-nextNav{
    right: 20px;
}

.slider-wrapper img{
    max-height: 250px;
}

#middle{
    margin-top: 30px;
    padding: 0 10px;
}

#main, #contactSidebar{
    float: left;
}

#main{
    width: 70%;
}

#contactSidebar{
    width: 28%;
    margin-left: 2%;
}

#contactSidebar .contactLine{
    display: block;
}

#contactSidebar .contactHeader{
    margin-top: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

#footerNote{
    border-top: 1px solid #CCC;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 600px) {

    #main{
        font-size: 1.2em;
    }

    #main, #contactSidebar{
        width: 100%;
        margin: 0;
    }

    #contactSidebar{
        width: 110%;
        border: 1px solid #CCC;
        border-left: 0px;
        border-right: 0px;
        margin: 10px 10px 10px -10px;
        padding: 0 0 14px 0;
        text-align: center;
    }

    #logo{
        float: none;
        margin: 15px auto 0;
        display: block;
    }

    #title, #tagline{
        margin-left: 0;
        text-align: center;
    }

    .slider-wrapper img{
        min-height: 120px !important;
    }

    .nivo-controlNav{
        display: none;
    }

    .nivo-directionNav a.nivo-prevNav{
        right: 80px;
    }

    .nivo-directionNav a.nivo-nextNav{
        right: 30px;
    }
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}