/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    background-color: #A8BFBF;
    font-size: 14px;
    line-height: 1.4;
    font-family: arial, sans-serif;
    word-wrap: break-word;
}

a{
    color: #8C6B64;
}

a:visited{
    color: #592E25;
}

#wrapper{
    max-width: 880px;
    margin: 30px auto 0;
    background-color: #F2F1EB;
    box-shadow: 0px 0px 10px black;
    padding-bottom: 30px;
    overflow: hidden;
}

#header{
    margin-bottom: 20px;
}

#header a, #header a:hover, #header a:visited{
    color: #000;
    text-decoration: none;
    display: block;
    width: 450px;
}

#logo{
    float: left;
    margin: 15px;
}

#title, #tagline{
    margin: 0;
    margin-left: 90px;
    padding-top: 5px;
    display: block;
    line-height: 1em;    
}

#title{
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2em;
    padding-top: 20px;
}

#tagline{
    font-size: 1.7em;
}

#middle{
    margin-top: 30px;
    padding: 0 10px;
}

#main, #contactSidebar{
    float: left;
}

#main{
    width: 100%;
}

#main.withSidebar{
    width: 70%;
}

#main > *{
    padding: 0 25px;
}

#contactSidebar{
    width: 28%;
    margin-left: 2%;
}

#contactSidebar .contactLine{
    display: block;
}

#contactSidebar .contactHeader{
    margin-top: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

#footerNote{
    border-top: 1px solid #CCC;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

.backLink a{
    text-decoration: none;
}

/* ==========================================================================
   Contact Form 7
   ========================================================================== */

.wpcf7-container{
    font-weight: bold;
}

.wpcf7-textarea, .wpcf7-text{
    padding: 10px 10px;
    font-size: 1em;
}

.wpcf7-text{
    max-width: 600px;
    width: 100%;
}

.wpcf7-textarea{
    max-width: 602px;
    width: 100%;
}

.wpcf7-submit.button{
    font-size: 0.9em;
    background-color: #A8BFBF;
}

.wpcf7-not-valid-tip{
    right: 0%;
    top: -72% !important;
    left: auto !important;
}


.your-message .wpcf7-not-valid-tip{
    top: -5%;
}

.wpcf7-form.invalid .wpcf7-response-output{
    margin: 0;
    padding: 20px 10px;
    border: 1px solid #A8BFBF;
    background-color: #DCC;
    text-align: center;
}


/* ==========================================================================
   Cyclone Slider 2
   ========================================================================== */

.cycloneslider-caption-description {
    padding: 0 20px 10px 20px !important;
}

.cycloneslider-caption-title{
    font-size: 1em !important;
    padding: 10px 20px 0 20px !important;
}

/* ==========================================================================
   Media Queries - Mobile-related fixes
   ========================================================================== */

@media (max-width: 600px) {

    #main{
        font-size: 1.2em;
    }

    #main, #contactSidebar{
        width: 100%;
        margin: 0;
    }

    #contactSidebar{
        width: 110%;
        border: 1px solid #CCC;
        border-left: 0px;
        border-right: 0px;
        margin: 10px 10px 10px -10px;
        padding: 0 0 14px 0;
        text-align: center;
    }

    #logo{
        float: none;
        margin: 15px auto 0;
        display: block;
    }

    #header a{
        width: auto !important;
    }

    #title, #tagline{
        margin-left: 0;
        text-align: center;
    }

    .cycloneslider-caption-description {
        padding: 0 20px 5px 20px !important;
    }

    .cycloneslider-caption-title{
        font-size: 1em !important;
        padding: 5px 20px 0 20px !important;
    }

    .cycloneslider-pager{
        display: none !important;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.highlight{
    
}

.highlight.bold{
    font-weight: bold;
}

.highlight.italic{
    font-style: italic;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.button { 
    position: relative; 
    overflow: visible; 
    display: inline-block; 
    padding: 0.5em 1em; 
    border: 1px solid #d4d4d4; 
    margin: 0;
    text-decoration: none; 
    text-shadow: 1px 1px 0 #fff; 
    font:11px/normal sans-serif; 
    color: #333; 
    white-space: nowrap; 
    cursor: pointer; 
    outline: none; 
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box; 
    /*background-clip: padding-box;*/ /* commented out due to Opera 11.10 bug */
    -webkit-border-radius: 0.2em; 
    -moz-border-radius: 0.2em; 
    border-radius: 0.2em; 
    /* IE hacks */
    zoom: 1; 
    *display: inline; 
}

.button:hover,
.button:focus,
.button:active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none; 
}

.button:active,
.button.active {
    border-color: #2a65a0;
    border-bottom-color: #3884CF;
}

/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
