/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    background-color: #A8BFBF;
    font-size: 14px;
    line-height: 1.4;
    font-family: arial, sans-serif;
    word-wrap: break-word;
}

a{
    color: #8C6B64;
}

a:visited{
    color: #592E25;
}

#wrapper{
    min-width: 350px;
    max-width: 880px;
    margin: 30px auto 0;
    background-color: #F2F1EB;
    box-shadow: 0px 0px 10px black;
    padding-bottom: 30px;
    overflow: hidden;
}

#header{
    margin-bottom: 20px;
}

#logo{
    float: left;
    margin: 15px;
}

#title, #tagline{
    margin: 0;
    margin-left: 90px;
    padding-top: 5px;
    display: block;
    line-height: 1em;    
}

#title{
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 2em;
    padding-top: 20px;
}

#tagline{
    font-size: 1.7em;
}

#middle{
    margin-top: 30px;
    padding: 0 10px;
}

#main, #contactSidebar{
    float: left;
}

#main{
    width: 70%;
}

#main > *{
    padding: 0 25px;
}

#contactSidebar{
    width: 28%;
    margin-left: 2%;
}

#contactSidebar .contactLine{
    display: block;
}

#contactSidebar .contactHeader{
    margin-top: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

#footerNote{
    border-top: 1px solid #CCC;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

/* ==========================================================================
   Cyclone Slider 2
   ========================================================================== */

.cycloneslider-caption-description {
    padding: 0 20px 10px 20px !important;
}

.cycloneslider-caption-title{
    font-size: 1em !important;
    padding: 10px 20px 0 20px !important;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 600px) {

    #main{
        font-size: 1.2em;
    }

    #main, #contactSidebar{
        width: 100%;
        margin: 0;
    }

    #contactSidebar{
        width: 110%;
        border: 1px solid #CCC;
        border-left: 0px;
        border-right: 0px;
        margin: 10px 10px 10px -10px;
        padding: 0 0 14px 0;
        text-align: center;
    }

    #logo{
        float: none;
        margin: 15px auto 0;
        display: block;
    }

    #title, #tagline{
        margin-left: 0;
        text-align: center;
    }

    .cycloneslider-caption-description {
        padding: 0 20px 5px 20px !important;
    }

    .cycloneslider-caption-title{
        font-size: 1em !important;
        padding: 5px 20px 0 20px !important;
    }

    .cycloneslider-pager{
        display: none !important;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.highlight{
    
}

.highlight.bold{
    font-weight: bold;
}

.highlight.italic{
    font-style: italic;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}